<section data-ng-controller="TimeblocksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Timeblocks</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="timeblock in timeblocks" data-ng-href="#!/timeblocks/{{timeblock._id}}">
            <div class="col-md-4">
                <span ng-style="getLifeStyle(timeblock)" class="form-control form-control-small">{{timeblock.category}}</span>
			</div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!timeblocks.$resolved || timeblocks.length">
    	No Timeblocks yet, why don't you <a href="/#!/timeblocks/create">create one</a>?
    </div>
</section>
